{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "security", "unicorn"],
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./browsers/webpack.config.js"
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/typescript",
    "plugin:security/recommended",
    "plugin:unicorn/recommended"

    // TODO: Restore these after https://github.com/benmosher/eslint-plugin-import/issues/1931
    // "plugin:import/errors",
    // "plugin:import/warnings",
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "^_",
        "caughtErrors": "all",
        "caughtErrorsIgnorePattern": "^_$"
      }
    ],
    "@typescript-eslint/ban-ts-comment": [
      "error",
      {
        "ts-ignore": "allow-with-description",
        "minimumDescriptionLength": 3
      }
    ],

    "unicorn/prevent-abbreviations": [
      "error",
      {
        "extendDefaultReplacements": false,
        "replacements": {
          "err": {
            "error": true
          }
        }
      }
    ],

    // Soft-enable some rules
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "unicorn/no-array-callback-reference": "warn", // Buggy with jQuery
    "unicorn/no-useless-undefined": "warn", // Buggy with React
    "unicorn/consistent-function-scoping": "warn", // Complains about some of the lifted functions
    "unicorn/prefer-prototype-methods": "warn",
    "unicorn/prefer-switch": "warn",

    // Disable recommended rules
    "@typescript-eslint/no-empty-function": "off",
    "react/prop-types": "off",
    "unicorn/no-null": "off",
    "unicorn/filename-case": "off",
    "unicorn/prefer-node-protocol": "off", // Not fully supported by TS
    "unicorn/prefer-set-has": "off",
    "unicorn/prefer-ternary": "off",
    "unicorn/no-nested-ternary": "off" // It conflicts with Prettier
  },
  "ignorePatterns": [
    "node_modules",
    ".idea",
    "browsers/dist",
    "artifacts",
    "scripts/bin",
    "src/vendors",
    "src/support.js"
  ],
  "overrides": [
    {
      "files": [
        "webpack.*.js",
        "*.config.js",
        "test-env.js",
        "**/__mocks__/**",
        "*.test.js"
      ],
      "env": {
        "node": true,
        "jest": true
      },
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "unicorn/prefer-module": "off"
      }
    }
  ]
}
