{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./browsers/webpack/webpack.base.js"
      }
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "react/prop-types": "off",
    "@typescript-eslint/ban-types": ["warn"],
    "@typescript-eslint/no-explicit-any": ["warn"],
    "@typescript-eslint/ban-ts-comment": ["error", {
      "ts-ignore": "allow-with-description",
      "minimumDescriptionLength": 3
    }]
  },
  "ignorePatterns": [
    "browsers/chrome/webpack/**",
    "browsers/firefox/webpack/**",
    "browsers/webpack/**",
    "scripts/webpack.scripts.js"
  ]
}
