.root {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  background: white;

  box-shadow: 1px 2px 8px #00000030;
  z-index: 999; // Always on top of the content, so that the shadow is applied correctly

  :global(.collapsing) {
    // Match the speed of the animation with the righthand sidebar
    // https://github.com/pixiebrix/pixiebrix-extension/pull/8125#pullrequestreview-1971309628
    // Math:
    // Righthand: 360px (collapsable width) -> 0.35s (Bootstrap default)
    // Lefthand: 240px (collapsable width) -> 0.23s
    transition-duration: 0.23s;
  }
}

.header {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);

  :global(.badge) {
    margin-top: -5px;
  }

  .toggle {
    // Align right. This is not inside .horizontalActions
    margin-left: auto;
  }
}

.horizontalActions {
  display: flex;

  > :global(.dropdown) {
    // Makes the Add button fit the height of the action bar
    display: flex;
  }
}

.header,
.verticalActions {
  :global(.btn) {
    // Matches the height of the nav-tabs on its right
    border-radius: 0;
    border: 0;
  }
}

.verticalActions {
  display: flex;
  flex-direction: column;
}

.toggle {
  background: transparent !important;
}

.unavailable {
  margin: 5px;
}
