$color-active: #007bff;
$color-border: darkgray;

.root {
  margin: 3px;
  min-height: 30px;
}

.addElement {
  position: absolute !important;
  top: 2px;
  right: 2px;
}

.container {
  border: 2px dashed $color-border;
  border-radius: 5px;
  position: relative;
  min-height: 50px;

  padding-right: 15px;

  &:global(.container) {
    padding-right: 30px;
  }
  &:global(.row) {
    margin-left: -12px;
    margin-right: -12px;
  }
}

.active {
  box-shadow: 0 0 3px 1px $color-active, inset 0 0 1px 1px $color-active;
}

.hovered {
  box-shadow: 0 0 1px 1px red;
}
