$color-active: #007bff;
$color-border: darkgray;

.root {
  padding: 5px;
  margin: 5px;
}

.addElement {
  position: absolute;
  top: 3px;
  right: 0;
}

.container {
  border: 2px dashed $color-border;
  border-radius: 5px;
  padding-right: 20px;
  position: relative;
  min-height: 50px;
}
.active {
  box-shadow: 0 0 3px 1px $color-active, inset 0 0 1px 1px $color-active;
}
