// Injected unminified. Don't add too much fluff

body {
  // Don't inherit any style
  all: initial;
}

:host {
  // Set a good default for our custom `pixiebrix-widget` element
  display: block;

  // Avoid black scrollbars on dark websites that set `color-scheme: light dark`
  color-scheme: light;
}

// Don't inherit the selection color
:host::selection {
  background: initial;
}

:host > div {
  display: flex;
  flex-direction: column;
}
