.message {
  align-self: center;

  // Space out multiple lines and make them less prominent
  & > :nth-child(n + 2) {
    margin-top: 0.3em;
    font-size: 0.9em;
    opacity: 0.8;
  }
}

.closeButton {
  all: initial;
  border: solid 2px #efefff;
  border-radius: 0.4em;
  line-height: 1.4em;
  width: 1.5em;

  flex-shrink: 0;
  align-self: center;

  padding-bottom: 0.1em; // Better vertical alignment
  text-align: center;
  margin-left: 0.5em;
  margin-right: -10px; // In px because it has to undo/match the component’s px spacing
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: #dededd;
  }

  &:active {
    background-color: #f8f8f8;
  }
}
