// Injected unminified. Don't add too much fluff

body {
  // Don't inherit any style
  all: initial;
}

:host {
  // Set a good default for our custom `pixiebrix-widget` element
  display: block;

  // Avoid black scrollbars on dark websites that set `color-scheme: light dark`
  color-scheme: light;
}

// Don't inherit the selection color
:host::selection {
  // Needs to be revert instead of initial because, per MDN,
  // "On inherited properties, the initial value may be unexpected"
  // See https://developer.mozilla.org/en-US/docs/Web/CSS/initial
  // See https://chromestatus.com/feature/5090853643354112
  // See https://developer.mozilla.org/en-US/docs/Web/CSS/revert
  background: revert;
}
