.root {
    padding: 1em;
    border-radius: .5em;
    background: #fff;
}

.template {
    color: #eb8934;
}

.variable {
    padding: 0 2px;
    color: #34a8ff;
    background: #eee;
    border: 1px solid #bbb;
    border-radius: 2px;
}