.controlsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.1rem;
}

.field {
  margin-right: 5px;
}

.buttonGroup {
  padding: 3px 0;
}

.emptyListContainer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}
