$color-active: #007bff;

.root {
  margin: 3px;
  min-height: 30px;
  border-radius: 0.25rem;
}

.addElement {
  position: absolute !important;
  top: 2px;
  right: 2px;
}

.active {
  box-shadow: 0 0 3px 1px $color-active, inset 0 0 1px 1px $color-active;
}

.hovered {
  box-shadow: 0 0 1px 1px red;
}
