name: Storybook

on: [push]

jobs:
  storybook:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: npm
      - run: npm ci
      - run: npm run build-storybook
      - name: Upload Storybook
        # Upload zipped artifact because otherwise upload is slow due to a lot of small files (for the icons)
        uses: ./.github/actions/upload-zipped-artifact
        with:
          name: storybook
          directory: storybook-static
          if-no-files-found: error
          retention-days: 3
